
:root{
--bg:#050505;
--card:#111;
--pink:#ff008c;
--purple:#7d2cff;
--text:#fff;
}

*{margin:0;padding:0;box-sizing:border-box}

body{
font-family:Inter,sans-serif;
background:var(--bg);
color:var(--text);
overflow-x:hidden;
}

header{
position:fixed;
top:0;
width:100%;
padding:25px 8%;
display:flex;
justify-content:space-between;
backdrop-filter:blur(20px);
z-index:100;
}

nav a{
color:white;
margin-left:30px;
text-decoration:none;
}

.logo span{color:var(--pink)}

.hero{
min-height:100vh;
padding:0 8%;
display:flex;
align-items:center;
justify-content:space-between;
position:relative;
}

.glow{
position:absolute;
width:500px;
height:500px;
filter:blur(140px);
opacity:.15;
border-radius:50%;
}

.pink{background:var(--pink);top:-150px;left:-150px;}
.purple{background:var(--purple);right:-150px;bottom:-150px;}

.hero-content{max-width:600px}

.hero h1{
font-size:6rem;
line-height:1;
margin:20px 0;
}

.button{
display:inline-block;
padding:18px 40px;
margin-top:30px;
background:linear-gradient(90deg,var(--pink),var(--purple));
border-radius:50px;
color:white;
text-decoration:none;
}

.hero-image img,
.project img{
width:100%;
border-radius:24px;
background:#222;
min-height:350px;
object-fit:cover;
}

.hero-image{width:420px}

.section{
padding:120px 8%;
}

.grid,.projects{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:30px;
margin-top:40px;
}

.card,.project{
background:var(--card);
padding:40px;
border-radius:24px;
}

.contact{
padding:140px 8%;
text-align:center;
}

.contact h2{
font-size:4rem;
}

@media(max-width:900px){
.hero{flex-direction:column;padding-top:140px}
.hero h1{font-size:3.8rem}
.hero-image{width:100%;margin-top:40px}
.grid,.projects{grid-template-columns:1fr}
nav{display:none}
.contact h2{font-size:2.4rem}
}
